/* footer start here*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/* footer end here */

/*........................................................*/
 
 /* Nav bar start here */
.container-fluid{margin-top:4px;}
.working{text-decoration:underline;text-decoration-thickness:2px;
 background-clip:content-box;}
#myNavbar{font-size:17px;}
#myNavbar li{padding-left:8px;padding-right:8px;margin-left:18px;}
.navli:hover{border-bottom:3px solid teal;font-weight:bold;background-clip: padding-box;}
.footli:hover{font-weight:bold;}
.navbar-brand{padding:2px;}
#brand:hover{animation-name:brand;animation-duration:4s;animation-fill-mode:forwards;}
@keyframes brand{
	100%{background-color:teal;}
}
#donate-button{background-color:yellow;padding-left:25px;padding-right:25px;color:black;border:2px solid yellow;border-radius:3px;}
#donate-button:hover{color:red;}

#head-mid{width:100%;border-bottom:2px solid white;background-repeat:no-repeat;
	background-size:cover;margin-top:-20px;height:40em;position:relative;background-image:url("1.jpg");
	background-size:cover;background-position:center;
}
 
 
 /* Nav bar end here */
 /*........................................................*/
.box-1{
	width:65em;height:20em;position:relative;top:10%;float:right;;
	
}
.box-1 h1{font-size:4.8vw;text-align:right;}
 .text-1{
	 position:relative;font-family:Arial Rounded MT Bold;top:0;color:white;padding:20px;
	width:100%;height:150px;word-spacing:15px;
	 }
u{text-decoration-color:orange;text-decoration-thickness:4px;}
 
 
 
 
 
 
 
 
 
 /* Your code types here */
  /* Your code types here */
 /*........................................................*/
/*  donation  */
.donation-box{position:relative;display:inline-block;top:20em;left:48em;font-size:1.4vw;width:17em;
}
.don-but{background:Snow;border:none;padding:10px 20px;border-radius:40px;background-color:SteelBlue;color:white;float:right;}
.donate-box-2{border-radius:40px;background-color:white;padding:0.2em;border:1px solid blue;width:100%;}
#text-2{border:none;margin-left:2em;width:150px;float:left;position:relative;padding:10px;position:relative;}
textarea:focus, input:focus{
    outline: none;
}


@media only screen and (max-width:800px) {
.donation-box{width:30em;left:55%;top:5em}

}
@media only screen and (max-width:768px) {
.donation-box{width:30em;left:55%;top:5em}


}
@media only screen and (max-width:600px) {
.donation-box{width:100%;left:0;}

}