/* footer start here*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/* footer end here */

/*........................................................*/
 
 /* Nav bar start here */
.container-fluid{margin-top:7px;overflow:hidden;}
#head-mid{display:block;height:2500px}
.working{background-image:linear-gradient(DarkBlue,DarkBlue,DarkBlue,DarkBlue,black);
 background-clip:content-box;padding-left:5px;}
#myNavbar{font-size:17px;}
#myNavbar li{padding-left:8px;padding-right:8px;margin-left:18px;}
.navli{border-radius:2px;}
.navli:hover{border-bottom:3px solid white;font-weight:bold;background-clip: padding-box;}
.footli:hover{font-weight:bold;}
.navbar-brand{padding:2px;}
#brand:hover{animation-name:brand;animation-duration:4s;animation-fill-mode:forwards;}
@keyframes brand{
	100%{background-color:teal;}
}
 #donate-button{background-color:yellow;padding-left:25px;padding-right:25px;color:black;border:2px solid yellow;}
#donate-button:hover{color:red;}
.donate{
	position:relative;width:100%;height:28em;border:2px solid white;
	background-image:url("https://cdn.thelifeyoucansave.org/uploads/2019/11/about_banner1-scaled.png");
background-size:cover;background-position:center;padding:80px;filter: grayscale(45%);position:relative;}


 /* Nav bar end here */
 /*........................................................*/
 
 .act-container
	{width:100%;height:570px;background-image:url("act.jpeg");margin:0;background-position:center;position:relative;
	background-size:cover;top:-20px;overflow:hidden;display:flex;
}
.act-blue-box{width:55%;height:300px;position:absolute;bottom:0;font-family:Eras Bold ITC;
background:rgba(249,91,0,0.6);color:white;font-size:22px;text-decoration:justify;
filter:grayscale(15%)

	
}
.act-blue-box h3{padding:60px 40px 0 25px;font-weight:600;font-size:26px;}
 .act-button{padding:18px 40px 18px 40px;border:1px solid white;color:white;text-decoration:none;position:relative;left:65%;
	border-radius:5px;bottom:15px;
 }
 .act-button:hover{background:white;color:teal;text-decoration:none;}
 
 .do-container{font-family:Sitka Small;
	 width:100%;height:600px;;background-image:url("action.jpg");background-position:center;background-size:cover;
	 color:white;position:relative;display:flex;
	 }
.do-green-box{
	width:40%;position:absolute;height:100%;background:rgba(0,60,0,0.6);padding:10px 30px 0 60px;font-weight:bold; 
	filter: grayscale(20%);
}
.topic-1{font-size:42px;text-align:center;text-decoration:underline;}
.do-green-box p{font-size:22px;}
.do-container h2{
	position:absolute;width:60%;bottom:-10px;right:0;text-align:right;
	background:rgba(0,0,255,0.5);color:white;font-size:65px;padding:30px;
	}
.do-inputs{position:absolute;bottom:80px;padding:10px 10px 0 40px;color:black;height:120px;}
.do-inputs input{padding:5px;border-radius:5px;}
.sub-button{bottom:0;padding:15px;width:100%;background:rgba(0,0,0,0);color:white;font-size:20px;}
.sub-button:hover{background-color:teal;color:white;}


.topic-2{text-align:center;text-decoration:underline;font-size:42px;}
.our-team{position:absolute;display:flex;width:100%;height:600px;}
.our-team img{width:70%;margin-left:100px;}
.our-blue-box{
	width:30%;position:absolute;display:flex;height:80%;border:1px solid blue;right:80px;
	background:rgba(0,40,240,0.9);filter:grayscale(45%);
	}
.our-blue-box p{
	padding:40px 85px 40px 15px;font-size:30px;text-align:left;font-weight:1000;font-family:Sitka Small;
	color:white;box-shadow:20px 20px 10px blue;