html {
  scroll-behavior: smooth;
}
#head-mid{width:100%;margin-top:-20px;
height:70em;position:relative;

color:black;font-family:Sitka Small;text-align:justify;background-color:Cornsilk;
	padding:100px;}
#head-mid p{text-align:center;font-size:25px;width:100%}
.m1{margin:0 auto 0 auto;display:block;width:60%;height:auto;}
.b1{position:relative;width:100%;margin:0 auto;display:block;font-size:25px;background-color:Teal;color:white;}
.b1:hover{background-color:#F4A460;}
.donate{
	position:relative;width:100%;height:28em;border:2px solid white;
	background-image:url("https://cdn.thelifeyoucansave.org/uploads/2019/11/about_banner1-scaled.png");
background-size:cover;background-position:center;padding:80px; filter: grayscale(15%);position:relative;}


.donate p{display:block;color:white;font-size:1.6vw;margin:0 auto;font-family:Sitka Small;font-weight:1000;padding:30px;
		  text-align:center;height:auto;width:80%;opacity:1;z-index:1;background-color:rgba(0,0,200,0.6);border-radius:10px;}
.donate button{font-size:1.5vw;font-weight:bold;display:block;opacity:0.9;width:45%;margin:0 auto;
background-color:yellow;color:black;padding:5px;}
.donate button:hover{color:red;opacity:1;}
/*    ------------------------               */
@media only screen and (max-width:800px) {
	.donate{height:12em;width:100%;padding:25px;}
	.donate p{width:100%;padding:10px;font-size:10px;}
	.donate button{width:50%;font-size:20px;}
	
}

}
@media only screen and (max-width:768px) {
	.donate{height:12em;width:100%;padding:10px;}
	.donate p{width:100%;padding:10px;font-size:10px;}
	.donate button{width:50%;font-size:12px;}
	.m1{width:80%;}
	#head-mid{height:20em;padding:10px;}
	#head-mid p{text-align:center;font-size:12px;width:100%;}

}

@media only screen and (max-width:600px) {
	.donate{height:12em;width:100%;padding:10px;}
	.donate p{width:100%;padding:10px;font-size:10px;}
	.donate button{width:70%;font-size:8px;}
	.m1{width:80%;}
	#head-mid{height:40em;padding:10px;}
	#head-mid p{text-align:center;font-size:12px;width:100%;}
	.b1{font-size:12px;}
}


/* --------------------------- */




.container-fluid{margin-top:4px;position:relative;z-index:2;}
.working{background:SlateBlue;
 background-clip:content-box;padding-left:5px;}
#myNavbar{font-size:17px;}
#myNavbar li{padding-left:8px;padding-right:8px;margin-left:18px;}
.navli{border-radius:2px;}
.navli:hover{border-bottom:2px solid white;font-weight:bold;background-clip: padding-box;}
.footli:hover{font-weight:bold;}
.navbar-brand{padding:2px;}
#brand:hover{animation-name:brand;animation-duration:4s;animation-fill-mode:forwards;}
@keyframes brand{
	100%{background-color:teal;}
}
#donate-button{background-color:yellow;padding-left:25px;padding-right:25px;color:black;border:2px solid yellow;}
#donate-button:hover{color:red;}



.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
 margin-top:0;
  position:relative;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/* footer end here */

/*-------------form start ----------------  */



* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color:teal;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding:5px;background-color:;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position:relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top:0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:teal;;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin:0 auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/*-------------form end ----------------  */
