
#title-line{font-family:Sitka Small;color:black;position:relative;top:100px;background-color:white;opacity:0.7;font-weight:1000;
	border-radius:10px;padding-left:15px;padding-right:15px;font-size:4vw;word-spacing:2px;line-height:150%;}
#head{width:100%;padding:3%;background-color:rgb(255,240,80);display:flex;}
#head-mid{width:100%;margin-top:-20px;height:25%;position:relative;}
#title{width:100%;padding:1%;text-align:center;position:absolute;height:auto;top:20px;}
#title-link{text-decoration:none;padding:1em 2.4em 1em 2.4em;border-radius:4%;opacity:0.9;
color:white;font-weight:bold;font-size:1.2vw;color:black;height:auto;background-color:Teal;position:relative;top:50px;
}
@media only screen and (max-width:600px) {
#head-mid{
    height:240px;
	background-color:black;
  }
#title{top:-80px}
#title-link{top:-10px;}
.container-fluid{margin-top:8px;}
}

#head-mid img{
   width:100%;
   height:auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center;
   filter: grayscale(30%);
   ;
}
.container-fluid{margin-top:4px;position:relative;z-index:2;}
.working{ border-bottom:4px inset green;
 background-clip:content-box;}
#myNavbar{font-size:17px;}
#myNavbar li{padding-left:8px;padding-right:8px;margin-left:18px;}
.navli:hover{border-bottom:3px solid teal;font-weight:bold;background-clip: padding-box;}
.footli:hover{font-weight:bold;}
.navbar-brand{padding:2px;}
#brand:hover{animation-name:brand;animation-duration:4s;animation-fill-mode:forwards;}
@keyframes brand{
	100%{background-color:teal;}
}
#title-link:hover{animation-name:learnmore;animation-duration:4s;animation-fill-mode:forwards;}
@keyframes learnmore{
	20%{background-color:teal;;opacity:1;color:white;}
	100%{background-color:teal;opacity:1;;color:white;}
} 
#donate-button{background-color:yellow;padding-left:25px;padding-right:25px;color:black;border:2px solid yellow;border-radius:3px;}
#donate-button:hover{color:red;}




/* footer start here*/
.site-footer 
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/* footer end here */